
h1, h2, h3, h4, h5, h6
{
    font-family: 'Roboto', sans-serif !important;
}

p, li
{
    font-family: 'Nunito Sans', sans-serif;
}

.without-padding
{
    padding: 0px !important;
}

.center-block
{
    float: none !important;
    margin: auto !important;
}

/* Colors */

.bg-purple
{
    background-color: #7A2776;
}

.white
{
    color:#ffffff;
}

.purple
{
    color: #7A2776;
}

.black
{
    color:#000000;
}

.bg-light-grey
{
    background-color: #E6E6E6;
}

/* Typography */

.heading-bd-lg
{
    font-weight: 900;
    font-style: italic;
    font-size:65px;
}

.heading-bd-md
{
    font-weight: 900;
    font-style: italic;
    font-size:32px;
}

.heading-bd-md2
{
    font-weight: 700;
    font-size: 22px;
    font-family: 'Nunito Sans', sans-serif !important;
}

.heading-bd-md3
{
    font-weight: 900;
    font-size:30px;
    font-family: 'Nunito Sans', sans-serif !important;
}

.heading-bd-sm
{
    font-weight:900;
    font-style: italic;
    font-size: 18px;
}

.heading-bd-sm2
{
    font-weight:900;
    font-style: italic;
    font-size: 24px;
}

.ranking-heading
{
    font-weight:900;
    font-style:italic;
    font-size:75px;
}

.para-lg-bd
{
    font-size: 18px;
    font-weight:600;
    line-height:120%;
}

.para-md
{
    font-size: 16px;
}

.para-sm
{
    font-size: 14px;
}



.head-section
{
    padding:20px 0px;
}

.logo-mob
{
    display:none;
}

.banner-text
{
    padding-top:60%;
}

.m-top-neg10
{
    margin-top: -10px;
}

.m-top-neg5
{
    margin-top: -5px;
}

.padding-left-0
{
    padding-left: 0px !important;
}

.margin-left-0
{
    margin-left: -40px !important;
}

.course-block
{
    padding:15px 30px 37px 30px;
    border-radius:5px;
    background-color: #7A2776;
}

.fee-block
{
    padding: 13px 15px 5px 15px;
    border-radius:3px;
    background-color: #FFCC00;
    width:250px;
}

.student img
{
    width: 70% !important;
}

/* Parallax */

.parallax
{
    background-image: url(../../assets/images/banners/parallax.jpg);
    background-size: cover;
    background-position: top center;
    height: 87vh;
	background-color: #363636;
    background-blend-mode: overlay;
}


@media (max-width: 992px)
{	
    .parallax
    {
        background-image: url(../../assets/images/banners/parallax.jpg);
        background-size: cover;
        background-position: left center;
        height: 87vh;
    	background-color: #363636;
        background-blend-mode: overlay;
    }

	.logo-web
	{
        display: none;
    }

    .logo-mob
    {
        display: block;
        text-align:center;
    }

    .head-text
    {
        text-align:center;
    }


}
